
*:focus {
	outline: none !important;
}

.form-group {
	label {
		font-weight: normal;
		&.control-label {
			padding-top: 3px;
		}
	}
	input[type="text"],
	select {
		height: 24px;
	}
	input[type="text"],
	textarea {
		padding-left: 4px;
		padding-right: 4px;
	}
	input[type="text"],
	textarea,
	select {
		outline: none;
		box-shadow: none !important;
		border: 1px solid #ccc !important;
	}
}

.btn-sm {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 12px;
}

body {
	padding-bottom: 20px;
	background-color: transparent;
}
