
@import 'bootstrap';

*:focus {
	outline: none !important;
}

.form-group {
	label {
		font-weight: normal;
		&.control-label {
			padding-top: 3px;
		}
	}
	input[type="text"],
	select {
		height: 24px;
	}
	input[type="text"],
	textarea {
		padding-left: 4px;
		padding-right: 4px;
	}
	input[type="text"],
	textarea,
	select {
		outline: none;
		box-shadow: none !important;
		border: 1px solid #ccc !important;
	}
}

.btn-sm {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 12px;
}

.app {
	position: relative;
	z-index: 1;
	width: 460px;
	min-height: 200px;
	margin: 12px 0 0 20px;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0 5px 20px rgba(58, 58, 58, 0.5);

	header {
		position: relative;
		&:before {
			position: absolute;
			z-index: 3;
			top: -9px;
			left: 50%;
			margin: 0 0 0 -10px;
			content: '';
			border-width: 0 10px 10px 10px;
			border-style: solid;
			border-color: transparent transparent #ffffff transparent;
		}
		.headerext {
			height: 46px;
			margin-bottom: 13px;
			border-bottom: 2px solid #1486dd;
			background-image: url('../images/extension_header.png');
			background-repeat: no-repeat;
			background-position: 19px 10px;
		}
		.settings-link {
			position: absolute;
			top: 15px;
			right: 20px;
			color: #aaa;
			font-size: 20px;
			line-height: 1;
			transition: color 0.5s;
			&.active {
				color: #222;
			}
		}
	}

	.container {
		padding-bottom: 20px; 
	}

}
